#wrapper {
    width: 810px;
    height:1465px;
    background-image: url("durex.jpg");
    background-size: 810px 1465px;
    background-position: center;
}

div#memory_board{
    position: absolute;
    top: 260px;
    left: 210px;
    background:transparent;
    width:400px;
    height:600px;
    padding:24px;
    margin:0px auto;
}
div#memory_board > div{
    background: url(pics/kapak.jpg) no-repeat;
    width:70px;
    height:70px;
    float:left;
    font-size:64px;
    cursor:pointer;
    text-align:center;
}

div#countdown{
    position: absolute;
    top: 30px;
    left:600px;
    font-size: 50px;
    font-weight: bold;
    color: #BD362F;
}

div#winGame{
    position: absolute;
    top: 230px;
    left: 150px;
}

div#loseGame{
    position: absolute;
    top: 230px;
    left: 150px;
}

.hidden{
    display: none;
}